<!DOCTYPE html>
<html>
<head>
<link href="css/fin.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
</head>
<body>
  <div class="message">
    <div class="row">
      <h3>{{ user }} a fait le dernier clic, il remporte la partie !<br/>
      Dommage pour les autres participants !<br/>
      Cliquez sur le bouton pour démarrer une nouvelle partie</h3>
  <div class="animation"></div><br/><br/>
	<form id="form" method="post" action="/newGame">
		<input type="submit" value="New Game">
	</form>
   </div>
  </div>
</body>
</html>
